* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./wowbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: end;
  }

.main {
    width: 90vw;
    height: 90vh;
    border: 5px solid black;
    padding: 10px;
    display: flex;
    gap: 10px;
    background-image: url("https://i.redd.it/lhnvupvps4h91.gif");
    background-repeat: no-repeat;
    box-shadow: 10px 10px 10px rgb(136, 131, 136);
  }
  
/* ______________________________________ */
.main-container {
  height: 86.5vh;
  width: 100vw;
  justify-content: center;
  border: 10px solid rgb(0, 0, 0);
  padding: 10px;
  background-image: url(./grid.jpg);
  opacity: 80%;
}

.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-size: auto 100%;
  background-repeat: no-repeat;

}

.card {
  height: 100px;
  width: 100px;
  align-content: center;
  padding: 0;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 10px 10px 10px rgb(95, 20, 194);
  animation: mymove 5s infinite;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-size: 160%;
  transition: 1s ease-in-out;

}

@keyframes mymove {
  50% {
    box-shadow: 10px 20px 30px rgb(0, 0, 0);
  }
}

.bg1 {
  background-color: #8e3840;
  padding: 1rem;
  flex-grow: 1;
  text-align: center;
}

.bg2 {
  background-color: #03744e;
  padding: 1rem;
  flex-grow: 1;
  text-align: center;
}

.bg3 {
  background-color: #170079;
  padding: 1rem;
  flex-grow: 1;
  text-align: center;
}

.content {
  font-family: monospace;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* ______________________________________ */


p {
  font-weight: bold;
  background-color: aliceblue;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  border: 2px black solid;
}

.box {
  font-size: 1rem;
  text-align: center;
  width: 300px;
  margin-left: 5px;
  border-radius: 5px;
  height: 30px;
}

.controls {
  display: flex;
  gap: 2px;
  flex-direction: column;
  place-content: center;
  width: 80vw;
  justify-content: center;
  padding: 50px;
  border: 10px solid rgb(0, 0, 0);
}

.title{
    text-align: center;
    margin-bottom: 20px;
    justify-self: center;
    font-size: 2.5rem;
    color: #161f4d;
}

.btn {
  margin: 5px;
  font-weight: bold;
  color: aliceblue;
  padding: 5px 0;
  flex-grow: 2;
  cursor: pointer;
  min-width: 300px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(129, 41, 170);
}

.btn:hover {
    box-shadow: 3px 3px 5px rgb(255, 255, 255);
    font-size: 1rem;
    transition: .2s ease-in-out;
}

:hover.btn {
    background-image: url(./wow.jpg);
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1);
    transition: .2s ease-in-out;
    background-position: center;
    }
