*{
    padding: 0%;
    margin: 0%;
    box-shadow: border-box;
}

.flex-container{
    padding: 20px;
    width: 80vw;
    height: 60vh;
    margin: 20px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    /* align-items: baseline; */
    flex-wrap: wrap;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    color: aliceblue;
    padding: 20px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    /* flex-shrink: 1; */
}

#box1{
    background-color: darkblue;
    /* order: 2; */
}

#box2{
    background-color: darkred;
    /* align-self: center; */
    /* order: 3; */
}

#box3{
    background-color: darkgreen;
    /* align-self: end; */
    /* order: 1; */
}
