.p{
    width: 75vw;
    height: 25vh;
    background-color: rgb(143, 238, 238);
}

.container{
    margin:0% auto;
    width: 50vw;
    background-color: rgb(247, 163, 85);
    padding: 20px;
}

.p1{
    margin:0% auto;
    width: 75%;
    text-align: center;
    line-height: 1.5;
}
