.container {
  width: 85vw;
  display: grid;
  margin: 20px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.cell {
  border: rgb(14, 6, 58) 2px solid;
  text-align: center;
  border-radius: 20px;
  color: azure;
  display: flex;
  flex-direction: column;
  place-items: center;
  box-shadow: 5px 5px rgb(63, 63, 63);
  justify-items: center;
}

img {
  width: 200px;
  padding-top: 20px;
}

#oden {
  background-color: #135d67;
  grid-column: 1/3;
}

#luffy {
  background-color: #ff0066;
  grid-column: 3/4;
}
#kaido {
  background-color: #2a3146;
  grid-column: 4/5;
  grid-row: 1/3;
}

#bigmom {
  background-color: #952b6a;
  grid-column: 1/2;
  grid-row: 2/3;
}

#marshal {
  background-color: #333e50;
  grid-column: 2/4;
  grid-row: 2/3;
}

.name {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0%;
}

.affiliation {
  font-size: 1.5rem;
  margin: 20px;
}

.desc {
  text-align: justify;
  font-size: 1rem;
  margin: 10px;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: none;
    grid-template-rows: repeat(5, 1fr);
    transition: .5s ease-in-out;
  }
  
  #oden {
    background-color: #135d67;
    grid-row: 1/2;
    grid-column: none;
  }
  
  #luffy {
    background-color: #ff0066;
    grid-row: 2/3;
    grid-column: none;
  }
  #kaido {
    background-color: #2a3146;
    grid-row: 3/4;
    grid-column: none;

  }
  
  #bigmom {
    background-color: #952b6a;
    grid-row: 4/5;
    grid-column: none;

  }
  
  #marshal {
    background-color: #333e50;
    grid-row: 5/6;
    grid-column: none;
  }
    
}
