* {
  padding: 0%;
  margin: 0%;
}

.container {
  padding-top: 20px;
  width: 100vw;
  display: flex;
  background-image: url(./Pokemon-Wallpaper-4k-Download.jpg);
  justify-content: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  row-gap: 20px;
  column-gap: 20px;
  transition: 0.5s ease-in;
  align-items: center;
}

.bgcolor {
  width: 420px;
  height: 420px;
  flex-direction: row;
  border-radius: 10px;
  border: black solid;
  box-shadow: 7px 7px rgb(26, 25, 25);
}

.size {
  width: 380px;
  padding-left: 20px;
  padding-top: 15px;
}

.bulbasaur {
  background-color: rgb(70, 185, 147);
}

.squirtle {
  background-color: rgb(102, 231, 231);
}

.eevee {
  background-color: rgb(185, 135, 70);
}

.mankey {
  background-color: rgb(255, 214, 160);
}

.pikachu {
  background-color: rgb(236, 236, 121);
}

.snorlax {
  background-color: rgb(44, 80, 177);
}

.meowth {
  background-color: rgb(255, 232, 169);
}

.pidgey {
  background-color: rgb(255, 255, 191);
}

.psyduck {
  background-color: rgb(250, 250, 63);
}

.jigglypuff {
  background-color: rgb(242, 103, 255);
}

.dratini {
  background-color: rgb(53, 138, 207);
}

.charmander {
  background-color: rgb(228, 121, 20);
}
.caterpie {
  background-color: rgb(70, 214, 70);
}

.pokeball {
  display: none;
  width: 120px;
  padding-right: 10px;
}

span {
  display: none;
  color: rgb(237, 241, 245);
  font-size: 50px;
  text-shadow: 2px 2px black;
  font-family: sans-serif;
}

@media (max-width: 1350px) {
  .container {
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in-out;
    flex-wrap: wrap;
    gap: 10px;
    transition: 0.5s ease-in-out;
  }

  .bgcolor {
    display: flex;
    width: 1100px;
    height: 180px;
    box-shadow: 0px 0px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  .bgcolor:hover {
    background-image: url(./newbg.jpg);
    transition: 0.5s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .size {
    width: 150px;
    padding-top: 10px;
    transition: 0.5s ease-in-out;
    padding-left: 10px;
  }

  .pokeball {
    display: inline;
    transition: 0.5s ease-in-out;
  }

  span {
    display: flex;
    transition: 0.5s ease-in-out;
  }
}

@media (max-width: 1180px) {
  .bgcolor {
    display: inline;
    width: 950px;
    height: 950px;
    box-shadow: 10px 10px rgb(3, 14, 51);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    text-align: center;
    margin: 20px;
  }

  .size {
    padding-left: 0%;
    padding-top: 40px;
    width: 800px;
    display: inline-block;
    transition: 0.5s ease-in-out;
  }

  .pokeball {
    display: none;
  }
  span {
    padding-top: 20px;
    display: inline;
    transition: 0.5s ease-in-out;
  }
}
