* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden;   */
    scroll-behavior: smooth;

}

body {
    background-color: #14161e;
}

/* Header */
header {
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

nav {
    width: 100%;
    background-color: #14161E;
    color: #e3e3e3;
    padding: 15px 0;
    /* border-bottom: 3px #ffffff solid; */
}

nav .container {
    display: flex;
    justify-content: space-between;
}

.navigation {
    height: 80px;
}

.logo {
    width: 200px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.fitlogo {
    width: 80%;
}

.menu {
    display: flex;
    font-weight: bold;
}

.menulist {
    list-style: none;
    margin-left: 30px;
    place-content: center;
    margin-bottom: 10px;
}

.menulist>a {
    text-decoration: none;
    color: #e3e3e3;
    transition: 0.5s all ease;
}

.menulist>a:hover {
    color: #e2b15f;
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: .4s ease-in-out;
}

/* Main */
main {
    margin-top: 50px;
}

/* Home */
.home {
    width: auto;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 30%;
    justify-content: space-evenly;
    gap: 20px;
    background-image: url(./homebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom: #0e0e0e solid 2rem; */
    position: relative;

}

.title {
    text-shadow: 7px 3px 7px rgb(71, 68, 68);
    color: #e3e3e3;
    grid-row: 1/3;
    grid-column: 1/2;
    font-size: 12rem;
    line-height: 0.8;
    padding-top: 7rem;
    padding-left: 5rem;
    transition: .3s ease-in-out;
}

span {
    font-size: 3rem;
    text-shadow: 2px 3px 5px rgb(10, 10, 10);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-left: 10px;
}

.home-pic {
    grid-row: 1/3;
    grid-column: 2/3;
    max-width: 600px;
    padding-left: 30px;
    padding-top: 4rem;
}

.mypic {
    width: 100%;
    height: auto;
    transition: .3s ease-in-out;
}

@keyframes bob {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.xtradeets {
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px rgb(10, 10, 10);
    padding-left: 10px;
    margin-top: 10px;
}

.portdeets {
    grid-row: 3/4;
    grid-column: 1/3;
    margin: 0 auto;
    padding-top: 1rem;
    transition: .3s ease-in-out;
}

.deetscontainer {
    width: 94vw;
    height: 300px;
    color: white;
    padding: 20px;
    place-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    perspective: 1000px;
    /* Add perspective to the container */
}

@keyframes bob {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.bobbed {
    animation: bob 2.5s infinite;
}

.deetsbox {
    width: 32%;
    height: 70%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.deetsbox:hover {
    transform: rotatex(-180deg);
    transition: 1s ease-in-out;
}

.deetsboxfront, .deetsboxback {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: #e3e3e3 5px solid;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: #ccc9c9 3px 3px 10px;

}

.deetsboxfront {
    background-color: #e2b15f;
    font-size: 1rem;
}

.deetsboxback {
    background-color: #ffffff;
    color: #14161E;
    font-size: 1.4rem;
    transform: rotateX(180deg);
    border: #e2b15f 5px solid;
}

.deetstitle {
    font-size: 2rem;
}

.deetscontent {
    font-size: 1.2rem;
    transition: .3s;
    text-shadow: #e2b15f 1px 1px 1px;
}

.portdesc:hover, .mypic:hover, .title:hover, .mypic2:hover {
    transform: scale(1.05) translateY(-22px);
    transition: 0.5s ease-in-out;
}

@media (max-width: 1100px) {

    .home-pic {
        grid-row: 1/2;
        grid-column: 1/3;
        place-content: center;
        width: 100vw;
        padding: 0%;
        margin: 0 auto;
        display: grid;
    }


    .title {
        font-size: 5rem;
        grid-row: 2/3;
        grid-column: 1/3;
        padding: 30px;
        margin-left: 25px;
    }

    span {
        font-size: 2rem;
    }

    .xtradeets {
        font-size: 1.5rem;
        line-height: 1;
    }

    .mypic {
        width: 60%;
        margin-top: 2rem;
        justify-self: center;
    }

    .deetscontainer {
        flex-direction: column;
        height: 250px;
        display: flex;
        gap: 40px;
        margin: 0 auto;
    }

    .deetsbox {
        margin-bottom: 20px;
        /* margin-left: 40px; */
    }

    .deetsboxfront {
        width: 900px;
        height: 60px;

    }

    .deetsboxback {
        width: 900px;
        height: 90px;
    }


    .deetscontent {
        font-size: 1rem;
        line-height: .5;
    }



}

/* About */
.about {
    background-image: url(./aboutbg.png);
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: #0d9d57 solid 2rem;
    position: relative;
}

.abcont1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    place-items: end;
}

.abcont2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100%;
    box-sizing: border-box;
}

.abcont3 {
    grid-row: 2/ 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: start;
    padding: 10px;
    padding-right: 100px;
}

.schools {
    margin: 0 auto;
    height: 80%;
    place-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-top: 100px;
    margin-top: 250px;
}

.schoolcard1, .schoolcard2, .schoolcard3 {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: #e3e3e3 5px solid;
    align-content: start;
    text-align: center;
    background-color: #ffffff;
    padding: 0;
    place-content: center;
    justify-content: center;
    margin-top: 100px;
    transition: .5s ease-in-out;
    box-shadow: 5px 5px 10px black;
}

.schoologo {
    width: 160px;

}

.scdec1, .scdec2, .scdec3 {
    display: none;
    transition: .5s ease-in-out;

}

.schoolcard1:hover, .schoolcard2:hover, .schoolcard3:hover {
    width: 400px;
    height: 250px;
    transition: 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    transform-origin: center;
    padding: 10px;


    .schoologo {
        width: 30%;
        transition: .5s ease-in-out;
    }
}

.schoolcard1:hover {
    .scdec1 {
        display: contents;
        font-size: 1.5rem;
        transition: 1s ease-in-out;
    }
}

.schoolcard2:hover {
    .scdec2 {
        display: contents;
        font-size: 1.5rem;
        transition: 1s ease-in-out;
    }
}

.schoolcard3:hover {
    .scdec3 {
        display: contents;
        font-size: 1.5rem;
        transition: 1s ease-in-out;
    }
}

.EQ {
    font-weight: bold;
    font-size: 2rem;
    ;
    text-shadow: none;
}

.mypic2 {
    max-width: 68%;
    justify-self: center;
    transition: .3s ease-in-out;
    border-bottom: #0d9d57 solid 3px;
    border-radius: 70px;
    box-shadow: 2px 2px 10px black;
    margin: 0;
    padding: 0;
}

.abtitle {
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
    color: #e3e3e3;
    font-size: 5.5rem;
    line-height: 0.8;
    transition: .3s;
    line-height: .5;
    padding-top: 5rem;
    margin-top: 25px;

}

.abdeets {
    font-size: 1.7rem;
    text-shadow: 2px 2px 2px rgb(10, 10, 10);
    transition: .3s;
    color: #e3e3e3;
    padding-right: 7rem;
    padding-left: 13px;
    padding-top: 30px;
    line-height: 1;
    margin-top: 20px;
    position: absolute;
}

@media (max-width: 1100px) {


    .abcont1 {
        place-items: start;
        margin-top: 5rem;
        grid-row: 1 / 2;
        grid-column: 1 / 2;

    }

    .abtitle {
        font-size: 3rem;
    }

    .abdeets {
        padding: 10px;
        font-size: 1.4rem;
        font-weight: lighter;
    }

    .mypic2 {
        max-width: 80%;
    }

    .abcont3 {
        grid-row: 2/ 3;
        grid-column: 1 / 3;
        padding: 20px;

    }

    .schools {
        flex-direction: column;
        gap: 5px;
        height: 100px;
    }

    .schoolcard1, .schoolcard2, .schoolcard3 {
        margin-top: 20px;
    }

    .schoolcard3 {
        margin-bottom: 25rem;
    }

    .schoolcard1:hover, .schoolcard2:hover, .schoolcard3:hover {
        width: 900px;
        height: 100px;
        flex-direction: row;
        transition: .5s ease-in-out;

        .schoologo {
            width: 75px;
            transition: .5s ease-in-out;
        }
    }

    .schoolcard1, .schoolcard2, .schoolcard3 {
        width: 900px;
        height: 100px;
        transition: .5s ease-in-out;

    }

    .schoologo {
        width: 75px;
        transition: .5s ease-in-out;

    }



}

/* Works */
.works {
    background-image: url(./worksbg.png);
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 26% 26% 26%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    place-content: center;
}

.work-title {
    text-shadow: 7px 3px 7px rgb(71, 68, 68);
    color: #e3e3e3;
    font-size: 7rem;
    line-height: 0.8;
    transition: .3s;
    padding: 5rem;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    text-align: center;

}

.work-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    grid-row: 2 / 5;
    grid-column: 1 / 5;
    display: flex;
    flex-direction: row;
    place-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.workbox {
    width: 500px;
    height: 220px;
    background-color: #e3e3e3;
    flex-grow: .2;
    border: #14161E 3px solid;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #e2b15f;
    text-align: center;
    padding: 10px;
    animation: glow 4s ease-in-out infinite;


}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px #ffffff;
    }

    50% {
        box-shadow: 0 0 20px #000000;
    }

    100% {
        box-shadow: 0 0 10px #ffffff;
    }
}

.laman {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.worklabel {
    font-weight: bold;
    border-bottom: #14161e 2px solid;
    margin-bottom: 10px;
}

.workpic {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    height: fit-content;
    align-self: center;
    transition: .5s ease-in-out;

}

.workpic:hover {
    transition: .5s ease-in-out;
    border: 2px rgb(0, 0, 0) solid;
    transform: scale(2) translateY(-2px) translateX(68px);
}

.workdesc {
    grid-row: 1/2;
    grid-column: 2/3;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

@media (max-width: 1100px) {
    .workbox {
        height: 180px;
        width: 250px;
    }

    .workpic {
        width: 200px;
        grid-row: 1/2;
        grid-column: 1/3;
        margin-left: 30px;
    }

    .workdesc {
        grid-row: none;
        grid-column: none;
        display: none;
    }

    .workpic:hover {
        transition: .5s ease-in-out;
        border: 2px rgb(0, 0, 0) solid;
        transform: scale(2) translateY(-2px);
    }

}



/* Contacts */
.contacts {
    display: grid;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url(./contactsbg.png);
    background-repeat: no-repeat;
    place-content: center;
}

.contacts-container {
    width: 90vw;
    height: 20vh;
    /* background: #fff; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    justify-content: space-between;

}

.contact-form, .contact-info {
    padding: 20px;
    width: 100%;
}

.contact-form {
    grid-row: 1/2;
    grid-column: 1/2;
    border-right: 2px solid #f2f2f2;
    background-color: #fffafa;
    border: 2px black solid;
}

.contact-info {
    grid-row: 1/2;
    grid-column: 2/3;
}

.contact-form h2, .contact-info h2 {
    margin-top: 0;
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #030303;
    border-radius: 5px;
    font-size: 14px;
}

.form-group textarea {
    resize: none;
}

button {
    background: linear-gradient(to right, #43614b, #0f4e1f);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: linear-gradient(to right, #097229, #1f5e27);
}

.contact-info p {
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;

}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.contact-info ul li img {
    margin-right: 10px;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-media a {
    display: block;
}

.social-media img, .icon {
    width: 24px;
    height: fit-content;
}

.social-media img:hover {
    transform: scale(1.1) translateY(-10px);
    transition: .5s ease-in-out;
}

@media (max-width: 1100px) {
    .work-title {
        padding-top: 10rem;
    }

    body {
        background-color: #0d9d57;
    }

    .contacts-container {
        width: 90vw;
        height: 70vh;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
        justify-content: space-between;
        gap: 20px;
    }

    .contact-form {
        grid-row: 1/2;
        grid-column: 1/2;

    }

    .contact-info {
        grid-row: 2/3;
        grid-column: 1/2;

    }

}


/* Footer */
footer {
    width: 100%;
    background-color: #0e0e0e;
    color: #e3e3e3;
    padding: 20px 0;
    /* Adjusted padding */
    border-top: 3px #ffffff solid;
    display: flex;
    flex-direction: column;
    /* Arrange items in a column */
    align-items: center;
    /* Center items horizontally */
}

footer .contacts {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    /* Added margin */
}

.cont {
    display: flex;
    list-style: none;
}

.contactlist {
    margin: 0 10px;
    place-content: center;
}

.contactlist>a {
    text-decoration: none;
    color: #e3e3e3;
    font-size: 1.5rem;
    /* Increased font size */
    transition: 0.5s all ease;
}

.contactlist>a:hover {
    color: #e2b15f;
    text-decoration: underline;
    text-underline-offset: 10px;
    transform: scale(1.1) translateY(-10px);
    transition: .5s ease-in-out;
}

.copyright {
    margin-top: 15px;
    font-size: 0.8rem;
}

/* Font Classes */
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

.lusitana-regular {
    font-family: "Lusitana", serif;
    font-weight: 400;
}

.lusitana-bold {
    font-family: "Lusitana", serif;
    font-weight: 700;
}

/* Colors */
.black {
    color: #0e0e0e;
}

.white {
    color: #e3e3e3;
}
