* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* _______________HEADER_________________ */

header {
    font-family: "Poppins", sans-serif;

}

.container {
    width: 90vw;
    margin: 0% auto;
}

nav {
    width: 1920px;
    background-color: #0e0e0e;
    color: #e3e3e3;
    padding: 15px 0%;
    height: fit-content;
    border-bottom: 3px #ffffff solid;
}

nav .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 160px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #d577af
}

.menu {
    display: flex;
    font-weight: bold;
}

.menulist {
    list-style: none;
    margin-left: 30px;
    place-content: center;
}

.menulist>a {
    text-decoration: none;
    color: #e3e3e3;
    transition: 0.5s all ease;
}

.menulist>a:hover {
    color: #d577af;
    text-decoration: underline;
    text-underline-offset: 10px;
}


/* _______________MAIN_________________ */

.home {
    width: 1920px;
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 8%;
    justify-content: space-evenly;
    gap: 20px;
}


main {
    width: 100vw;
    background-image: url(./PORT_BG.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.title {
    text-shadow: 10px 3px 15px rgb(71, 68, 68);
    color: #e3e3e3;
    grid-row: 1/3;
    grid-column: 1/2;
    font-size: 12rem;
    line-height: 0.8;
    padding-top: 10rem;
    padding-left: 5rem;
}

span {
    font-size: 3rem;
    text-shadow: 2px 3px 5px rgb(10, 10, 10);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding-left: 10px;
}

.home-pic {
    grid-row: 1/3;
    grid-column: 2/3;
    max-width: 600px;
    padding-left: 30px;
    padding-top: 8rem;
}

.mypic {
    width: 100%;
}



.container {
    width: 90vw;
    margin: 0% auto;
}

/* _______________FOOTER_________________ */


footer {
    width: 1920px;
    background-color: #0e0e0e;
    color: #e3e3e3;
    padding: 30px 0%;
    height: 100%;
    border-bottom: 3px #ffffff solid;
    grid-row: 3/4;
    grid-column: 1/3;
}

footer .contacts {
    display: flex;
    justify-content: center;
}


.cont {
    display: flex;
    font-weight: bold;
}

.contactlist {
    list-style: none;
    margin-left: 30px;
    place-content: center;
}

.contactlist>a {
    text-decoration: none;
    color: #e3e3e3;
    transition: 0.5s all ease;
}

.contactlist>a:hover {
    color: #d577af;
    text-decoration: underline;
    text-underline-offset: 10px;
    transform: scale(1.1)translateY(-10px);

}


.social-media a {
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease-in-out;
}

.mypic:hover {
    transform: scale(1.05)translateY(-10px);
    transition: 0.5s ease-in-out;
}







/* _______________________________F_COLORS_________________________________ */
.black {
    color: #0e0e0e;
}

.white {
    color: #e3e3e3;
}


/* _______________________________POPPINS_________________________________ */
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

/* _______________________________lusitana_________________________________ */
.lusitana-regular {
    font-family: "Lusitana", serif;
    font-weight: 400;
    font-style: normal;
}

.lusitana-bold {
    font-family: "Lusitana", serif;
    font-weight: 700;
    font-style: normal;
}
