* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  /* background-color: aquamarine; */
  border: 1px black solid;
  width: 80vw;
  /* height: 50vh; */
  margin: 0% auto;
}

h1 {
  /* margin: 20px; */
  /* margin: 20px 0px 30px 50px; */
  margin: 20px 10px;
  margin-left: 50px;
}

h2 {
  margin: 5px;
}

p {
  border: 1px solid black;
  padding: 30px;
  margin: 10px;
  height: 100px;
  width: 500px;
}

.p1 {
  box-sizing: content-box;
}

.p2 {
  box-sizing: border-box;
}
