p {
  font-family: "poppins";
  margin: 0% auto;
  /* font-weight: 900; */
  line-height: double;
  text-align: center;
  width: 80%;
  letter-spacing: 2px;margin-bottom: 50px;
}

div {
  background-color: aqua;
  width: 50vw;
  margin: 0% auto;
  padding: 20px;
}
