* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 90vw;
  margin: 0% auto;
}

nav {
  background-color: black;
  color: white;
  padding: 10px 0%;
  height: fit-content;
}



nav .container{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
}

.menulist{
    list-style: none;
    margin-left: 30px;
}

.menulist > a{
    text-decoration: none;
    color: white;
    transition: .5s all ease;
}

.menulist > a:hover{
    color: rgb(255, 115, 0);
    text-decoration: underline;
    text-underline-offset: 10px;
}
