* {
    margin: 0% auto;
    padding: 0% auto;
    transition: .5s ease-in-out;

}

body {
    background-image: url(./fampic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 30rem;
    width: 28vw;
    height: 2vw;
    background-color: rgb(255, 255, 255);
    border: rgb(10, 10, 10) solid 2px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
    justify-content: space-evenly;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4% auto 10%;
    gap: 30px;
    text-align: left;
}

h1 {
    margin-top: 5px;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: justify;
    font-size: 2rem;
}

p {
    display: none;
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: cursive;

}

.button {
    margin-top: 10px;
    width: 10vw;
    height: 1.5vw;
    background-color: rgb(255, 255, 255);
    border: rgb(10, 10, 10) solid 2px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
    display: none;
    grid-column: 1/2;
    grid-row: 3/4;
}

.bde {
    width: 100%;
    height: 100%;
    display: none;
    margin: 0% auto;
    border-radius: 20px;
    transition: 1s ease-in-out;
    border: 2px black solid;

}

.container:hover {
    background-color: rgb(255, 255, 216);
    margin-top: 125px;
    width: 30vw;
    height: 110vw;
    transition: .5s ease-in-out;
    border: rgb(22, 22, 22) solid 4px;
    transition: .5s ease-in-out;
    box-shadow: 5px 5px 5px rgb(87, 85, 85);

    .content {
        padding: 40px;
        transition: .5s ease-in-out;
    }

    h1 {
        margin-top: 15px;
        transition: .5s ease-in-out;
    }

    p {
        display: contents;
        margin-top: 20px;
        font-size: 1.5rem;
        grid-column: 1/2;
        grid-row: 2/3;
        transition: .5s ease-in-out;
    }

    .button {
        display: grid;
        grid-column: 1/2;
        grid-row: 3/4;
        transition: .5s ease-in-out;

    }
}

h2 {
    margin-top: 5px;
}

.button:hover {
    h2 {
        display: none;
        transition: .5s ease-in-out;

    }

    .bde {
        display: grid;
    }
}
